<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hair salon</title>
    <link rel="stylesheet" href="../content/Styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body class ="background">

</html>
<div class="jumbotron">
<h1 class ="textgreen">Hair Salon!</h1>
</div>
<h2><a href="/stylists">View all Stylists</a></h2>
<h2><a href="/addAnotherStylist">Add another stylist</a></h2>
<!-- <br> -->
<!-- <h2><a href="/clients">View all Clients</a></h2> -->


</body>
