<h1>Hair Salon!</h1>
<!-- The first one should present the user with a form for adding a stylist and it should list out all of the stylists at this hair salon -->
<h2><a href="/stylists">View all Stylists</a></h2>
<h2><a href="/addAnotherStylist">Add another stylist</a></h2>
  
