<h1>Stylist</h1>
@if (@Model.Count == 0)
  {
    <p>No Stylists Added</p>
  }
else
{
  <ol>
    @foreach (var Stylist in Model)
    {
      <li><a href="/viewTheClientsForThisStylist/@Stylist.GetId()">@Stylist.GetName()</a> | <a href="/stylist/edit/@Stylist.GetId()">Edit</a> | <a href="/stylist/delete/@Stylist.GetId()">Delete</a></li>
    }
  </ol>
}
<p><a href="/addNewClientToStylist">Add a Client</a></p>
<p><a href="/deleteAllStylists">Delete all Stylists</a></p>
<p><a href="/">Home</a></p>
