<h1>There are The Clients with this Stylist</h1>

@if (@Model["clients"].Count == 0)
{
  <p>No clients added</p>
}
else
{
  <h3>List of clients:</h3>

  <ul>
    @foreach (var client in @Model["clients"])
    {
      <li> @client.GetName() | <a href="/client/edit/@client.GetId()">Edit</a> | <a href="/client/delete/@client.GetId()">Delete</a></li>
    }
  </ul>
}

<p><a href="/">Home</a></p>
